.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.div-center {
  display: grid;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.spinner {
  width: 56px;
  height: 56px;
  display: grid;
  border: 4.5px solid #0000;
  border-radius: 50%;
  border-color: #af00ff #0000;
  animation: spinner-e04l1k 1s infinite linear;
}

.spinner::before,
.spinner::after {
  content: "";
  grid-area: 1/1;
  margin: 2.2px;
  border: inherit;
  border-radius: 50%;
}

.spinner::before {
  border-color: #15ebff #0000;
  animation: inherit;
  animation-duration: 0.5s;
  animation-direction: reverse;
}

.spinner::after {
  margin: 8.9px;
}

header {
  background-color: #333;
  color: #fff;
  padding: 10px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* header css */
.logo {
  font-size: 24px;
  font-weight: bold;
  text-transform: uppercase;
  margin-left: 20px;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

nav li {
  margin-right: 20px;
}

nav a {
  text-decoration: none;
  color: #fff;
  transition: color 0.3s ease;
}

nav a.active {
  color: #ff5733;
}

/* ///////////////////// */

/* Style the header */
.header {
  background-color: #007bff;
  color: #fff;
  text-align: center;
  padding: 10px 0;
}

.header h1 {
  font-size: 35px;
  font-weight: bold;
  margin-bottom: 20px;
}

.header p {
  font-size: 18px;
}

.mobile-component,
.laptop-component {
  display: flex;
  justify-items: stretch;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
  justify-content: space-around;
}

/* Style the products section */
.products {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 40px 0;
}

.product {
  text-align: center;
  margin: 20px;
  padding: 20px;
  max-height: 500px;
  max-width: 350px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.product img {
  max-width: 100%;
  max-height: 100px;
  object-fit: cover;
  border-radius: 4px;
}

.product h2 {
  font-size: 24px;
  margin: 10px 0;
}

.product p {
  font-size: 16px;
  margin: 10px 0;
}

.product a {
  display: inline-block;
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 4px;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.product a:hover {
  background-color: #0056b3;
}

/* //user profile css */
.users-list {
  display: flex;
  text-align: center;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
/* UserProfile.css */
.user-profile {
  display: flex;
  min-width: 300px;
  width: 320px;
  align-items: center;
  margin: 10px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.avatar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-right: 20px;
  object-fit: cover;
}

.user-details {
  flex-grow: 1;
}

.user-name {
  font-size: 24px;
  margin: 0;
}

.user-email,
.user-location {
  font-size: 16px;
  margin: 5px 0;
}

/* Style the product card container */
.product-card {
  display: flex;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 15px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: 20px;
  overflow: hidden;
  max-width: 500px;
  /* align-items: center; */
}

/* Style the product image */
.product-image img {
  width: 100%;
  height: auto;
  display: flex;
}

.laptop-image img {
  height: 150px;
}
/* Style the product details container */
.product-details {
  flex-grow: 1;
  padding: 0px 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

/* Style the product name */
.product-name {
  font-size: 20px;
  /* margin-bottom: 10px; */
}

/* Style the product actions (buttons) */
.product-actions {
  display: flex;
  justify-content: space-between;
}

.btn {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: #0056b3;
}

.laptop-component {
  min-height: calc(100vh - 70px);
  max-height: 100%;
}

.footer {
  /* margin-top: -30px; */
  background-color: #333;
  color: #fff;
  text-align: center;
  align-items: end;
  padding: 10px 0;
}

/* popup page */

.popup {
  display: flex;
  justify-content: center; /* Horizontally center the content */
  align-items: center; /* Vertically center the content */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  z-index: 999; /* Ensure it's above other content */
}

/* Styles for the pop-up content */
.popup-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  text-align: center;
  position: relative;
}

/* Style the close button */
.close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 24px;
  cursor: pointer;
}

/* Style the open button (you can customize this button style in your component) */
button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* Style the close button on hover */
.close:hover {
  color: red;
}

@keyframes spinner-e04l1k {
  100% {
    transform: rotate(1turn);
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
